<nav class="sticky-top navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Poster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if (username) { %> 
        <li class="nav-item">
          <a class="nav-link active" href="/user/<%= username %> ">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/posts">Timeline</a>
        </li>
        <li>
          <form action="/logout" class="d-flex" method="POST">
            <div class="d-grid gap-2">
            <button id="logout" class="nav-link active">Log Out</button>
            </div>
          </form>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Log In</a>
        </li>
        <% } %> 
      </ul>
      <form action="/search" class="d-flex">
        <input id="search" class="form-control me-2" type="search" name="query" placeholder="Search for users or posts" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>