<nav class="sticky-top navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <div class="d-flex">
      <a class="navbar-brand" href="/">Poster</a>
      <form action="/search" id="nav-search"class="d-flex">
        <input id="search" class="form-control me-2" type="search" name="query" placeholder="Users or Posts" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
      <div>
      <ul class="navbar-nav me-auto my-auto">
        <% if (username) { %> 
        <li class="nav-item">
            <a class="nav-link active" href="/posts"><i class="fas fa-home"></i></a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" href="/user/<%= username %> "><i class="fas fa-user"></i></a>
        </li>
        <li class="nav-item" id="mobile-search-btn">
          <a href="/search" class="nav-link active"><i class="fas fa-search"></i></a>
        </li>
        <li class="nav-item">
          <form action="/logout" class="d-flex" method="POST">
            <div class="d-grid gap-2">
            <button id="logout" class="nav-link active"><i class="fas fa-sign-out-alt"></i></button>
            </div>
          </form>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Log In</a>
        </li>
        <% } %> 
      </ul>
      </div>
    </div>
</nav>