<%- layout('./templates/boilerplate') -%>
<div class="row mt-5">
    <div class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
        <div class="alert alert-danger mb-5" role="alert">
            <h4 class="alert-heading"><%= message %></h4>
            Please try again.
        </div>
        <a href="/posts">Back</a>
    </div>
</div>