#logout {
	border: none;
	background-color: transparent;
}

#post-block:hover {
	border-color: rgb(155, 154, 154);
}

#user-card:hover {
	border-color: rgb(155, 154, 154);
}

#mobile-search {
	display: none !important;
}

#mobile-search-btn {
	display: none !important;
}

#heart {
	color: red;
}

.navbar-brand {
	font-size: 1.5em;
}

.nav-item {
	font-size: 1.25em;
	padding-left: 0.5em;
}

.feature-btn {
	border: none;
	background-color: transparent;
}

.user-card-btn {
	width: 96px;
}

.userHover:hover .uncover {
	opacity: 1;
	transition: max-height 0.25 ease-in-out;
}

.uncover {
	max-height: 0;
	opacity: 0;
}

.userForms {
	box-shadow: 4px 4px 8px rgba(51, 51, 51, 0.295);
}

.search-filter {
	background-color: rgb(155, 154, 154);
	border-radius: 0;
}

.search-filter a {
	display: block;
	width: 100%;
	text-transform: uppercase;
}

.search-filter:hover {
	background-color: rgb(122, 122, 122);
}

.search-filter a:hover {
	color: black;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
	color: #0275d8;
}

@media all and (max-width: 575px) {
	#nav-search {
		display: none !important;
	}

	#mobile-search {
		display: inline !important;
		width: 100%;
	}

	#mobile-search-btn {
		display: inline !important;
	}
}
