<%- layout('./templates/boilerplate') -%>
<div class="row mt-2">
    <div class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
        <%- include('../partials/userBlock') %>

        <section>
        <h1 class="mb-4">Latest Posts</h1>
        <% if (user.posts.length === 0) { %>
            <p class="lead"><%= user.username %> has not posted yet!</p>
        <% } %> 
        <% for (let post of user.posts) { %>
            <%- include('../partials/postBlock', { post: post }) %>
        <% } %>
        </section>
    </div>
</div>